<div class="text-center display-1 text-dark my-5">
    Welcome!
</div>
<div class="row gx-5 gx-md-5 mb-5 align-items-center text-center" style="width:100%">
    <div class="col-12 col-md-6">
        <div class="display-3 text-center">
            Check out some of my other pages to learn more about me and feel
            free to contact me with any questions you have.
        </div>
    </div>
    <div class="col-12 col-md-6 text-center ps-5">
        <div class="slideshow" style="max-width: 100%; overflow: hidden; display: inline-block;">
            <div name="mySlides">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('champ3.png', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('wordcloud.jpg', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('cce.png', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('champlain01.jpg', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('japan.jpg', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('champlain02.jpg', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="text-center invis">
                <div class="border rounded border-4 border-dark">
                    <div name="slideImg" class="ss-fade-in">
                        <%= image_tag('spotify.png', style: "height:auto;width:100%;")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        showSlides(0);
    };

    function showSlides(index) {
        let slideIndex = index;
        let i;
        let slides = document.getElementsByName("mySlides");
        let slideImgs = document.getElementsByName("slideImg");
        for (i = 0; i < slides.length; i++) {
            slides[i].className = "invis";
            slideImgs[i].className = "ss-fade-in";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        slides[slideIndex - 1].className = "";

        setTimeout(function () {
            setFadeOut(slideIndex);
        }, 4000);
    }

    function setFadeOut(index) {
        let slideIndex = index;
        let j;
        let slideImgs = document.getElementsByName("slideImg");
        for (j = 0; j < slideImgs.length; j++) {
            slideImgs[j].className = "ss-fade-out";
        }
        if (slideImgs.length == 0) {
            waitForHomePage(slideIndex);
        } else {
            setTimeout(function () {
                showSlides(slideIndex);
            }, 750);
        }
    }
    function waitForHomePage(index) {
        let slideIndex = index;
        let slideImgs = document.getElementsByName("slideImg");
        if (slideImgs.length == 0) {
            setTimeout(function () {
                waitForHomePage(slideIndex);
            }, 4000);
        } else {
            setFadeOut(slideIndex);
        }
    }

</script>