<div class="text-center display-1 text-dark my-5">
    Welcome!
</div>
<div class="row">
    <div class="col p-5">
        <div class="display-3 text-center ms-5 mt-7">
            Check out some of my other pages to learn more about me and feel free to contact me with any questions you have.
        </div>
    </div>
    <div class="col p-5 ms-5 no-click">
        <div class="slideshow">
            <div name="mySlides">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('champ3.png')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('wordcloud.jpg')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('cce.png')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('champlain01.jpg')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('japan.jpg')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('champlain02.jpg')%>
                    </div>
                </div>
            </div>
            <div name="mySlides" class="text-center invis">
                <div class="border rounded border-4 border-dark" style="width:758px">
                    <div name="slideImg" class="ss-fade-in">
                        <%= link_to image_tag('spotify.png')%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        showSlides(0);
    };

    function showSlides(index) {
        let slideIndex = index;
        let i;
        let slides = document.getElementsByName("mySlides");
        let slideImgs = document.getElementsByName("slideImg");
        for (i=0; i < slides.length; i++) {
            slides[i].className = "invis";
            slideImgs[i].className = "ss-fade-in";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        slides[slideIndex - 1].className = "";

        setTimeout(function() {
            setFadeOut(slideIndex);
        }, 4000);
    }

    function setFadeOut(index) {
        let slideIndex = index;
        let j;
        let slideImgs = document.getElementsByName("slideImg");
        for (j=0; j < slideImgs.length; j++) {
            slideImgs[j].className = "ss-fade-out";
        }
        if (slideImgs.length == 0){
            waitForHomePage(slideIndex);
        } else {
            setTimeout(function() {
                showSlides(slideIndex);
            }, 750);
        }
    }
    function waitForHomePage(index){
        let slideIndex = index;
        let slideImgs = document.getElementsByName("slideImg");
        if (slideImgs.length == 0){
            setTimeout(function() {
                waitForHomePage(slideIndex);
            }, 2000);
        } else {
            setFadeOut(slideIndex);
        }
    }

</script>